.but1 {
  background-color: transparent;
  border: none;
  font-family: "Times New Roman", Times, serif;
  height: 1.75cm;
  padding: 0cm;
}

.primary-navigation {
  margin: 0 auto;
  display: flex;
  font-size: 20px;
  height: 100%;
}

.primary-navigation li {
  list-style: none;
  margin: 0 auto;
  display: inline-flex;
  position: relative;
  text-decoration: none;
  height: 1.75cm;
  align-items: center;
}

.primary-navigation li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  top: 50px;
  left: 0px;
  display: none;
  background: white;
}

.primary-navigation li ul::before {
  content: "";
  top: -10px;
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 20px;
  background-color: transparent;
}

.primary-navigation li:hover > ul,
.primary-navigation li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 10px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

.primary-navigation li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  padding-left: 5px;
  border-style: none;
  text-decoration: none;
  height: 100%;
}

.primary-navigation li ul li a {
  text-align: center;
  display: flex;
  transition: all 1s ease;
  padding-left: 10px;
}

.primary-navigation li ul li a:hover {
  padding-left: 20px;
  border-left: 3px solid #ffffff;
  transition: all 0.3s ease;
  color: #b41712;
  height: 100%;
  text-align: left;
}

/*---------------header-------------------*/
body {
  background-color: rgb(248, 250, 250);
}

.header_item1 {
  display: grid;
  grid-template-columns: 18% 67% 7% 8%;
  align-items: center;
  padding-left: 2vh;
  border-color: rgb(182, 181, 181);
  border-style: hidden hidden solid hidden;
  border-width: 1px;
  color: rgb(161, 161, 161);
  background-color: rgb(248, 250, 250);
}

a {
  list-style: none;
  color: black;
  text-decoration: none;
}

.header_item2 {
  display: grid;
  grid-template-columns: 30% 50%;
  align-items: center;
  padding: 1.5ch;
  background-color: rgb(248, 250, 250);
}

.header_item3 {
  display: grid;
  grid-template-columns: 2% 15% 8% 8% 8% 15% 24% 6% 6%;
  align-items: center;
  justify-items: center;
  height: 1.75cm;
  background-color: #b41712;
  color: white;
  font-size: 20px;
  position: relative;
}

.a1 {
  color: white;
  font-size: 20px;
}

.a1:hover {
  background-color: #ffffff;
  color: #b41712;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input1 {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: none;
  height: 1cm;
  padding-right: 0%;
  box-shadow: 10px 10px #e7e6e6 0 0 10px 30px #e7e6e6 30px 0 20px 30px #e7e6e6;
}

.input2 {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: none;
  height: 1cm;
  width: 10cm;
  padding-left: 0%;
  box-shadow: 50px 10px #111111 0 0 10px 30px #0e0d0d 30px 0 20px 30px #1a1919;
}

.form form button {
  background-color: rgb(66, 65, 65);
  color: #ffffff;
  border: none;
  border-radius: 20px;
  width: 1cm;
  height: 1cm;
}

/*----------------main---------*/
.main1 {
  padding-top: 2ch;
}

.gird-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 1em;
}

.TinTuc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.TinTuc > div {
  background-color: white;
}

.TinTuc a {
  font-size: 20px;
  font-weight: bolder;
}

.TinTuc a img {
  max-width: 100%;
  height: 13em;
}

.Loc {
  display: flex;
  flex-direction: column;
}

.Loc p {
  font-size: 20px;
  text-align: center;
  color: #b41712;
  border-style: hidden hidden solid hidden;
  border-color: #e7e6e6;
  border-width: 1px;
}

.Loc form div {
  display: grid;
  grid-template-columns: 31% 38% 32%;
  padding: 5px;
  font-size: 18px;
}

.Loc form button {
  font-size: 16px;
  color: #ffffff;
  background-color: #b41712;
  border: none;
  height: 1.2cm;
  width: 2cm;
  border-radius: 20px;
}

.Loc form button:hover {
  font-size: 16px;
  color: #b41712;
  background-color: #ffffff;
  border: none;
  height: 1.2cm;
  width: 2cm;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.radio {
  padding-top: 5ch;
  padding-bottom: 5ch;
  display: flex;
  flex-direction: row;
}

.radio a {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

.radio a:hover {
  background-color: #b41712;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

/*------------main4------------*/
.main4 {
  padding-top: 5ch;
  padding-bottom: 5ch;
  padding-left: 3ch;
  padding-right: 3ch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  border: #686666;
  border-color: red;
  font-size: 22px;
}

.main4 > div > a {
  font-size: 17px;
  color: #686666;
}

.timkiem {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  align-items: center;
  justify-items: center;
  height: 1.5cm;
  background-color: #b41712;
  color: white;
  font-size: 20px;
}

/*-------------dropdowm-----------*/
.dropdown {
  position: relative;
  display: inline-block;
  color: #0e0d0d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content a:hover {
  font-size: 18px;
  color: #b41712;
}
