<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://kit.fontawesome.com/d3ee10eebc.js" crossorigin="anonymous"></script>
    <title>Document</title>
    {% load static %}
</head>

<body>
    <div class="header">
        <div class="header_item1">
            <div>Liên hệ: 0818666***/0979334***</div>
            <div>Email: 20521251@gm.uit.edu.vn </div>
            <div class="dropdown">
                <span><i class="fa-regular fa-user"></i> {{user.username}} <i class="fa-solid fa-angle-down"></i></span>
                <div class="dropdown-content">
                    <a href="">Thông tin cá nhân</a>
                    <a href="">Lịch sử giao dịch</a>
                    <a href="/Changeyourpassword">Đổi mật khẩu</a>
                    <a href="/Logout">Đăng xuất</a>
                </div>
            </div>
        </div>
        <div class="header_item2">
            <a href="/"><img style="width: 350px;"
                    src="https://firebasestorage.googleapis.com/v0/b/nt208-28e2a.appspot.com/o/logoLacViet.png?alt=media&token=da8b21aa-68b5-44c8-a985-92f31d985c63&_gl=1*fh94h5*_ga*OTk0NDIxMDQyLjE2NzAwNzQ2NzM.*_ga_CW55HF8NVT*MTY4NjY0MDIyMi40LjEuMTY4NjY0MDI1NC4wLjAuMA.."
                    alt=""></a>
            <div class="form">
                <form action="/Search/" method='POST'>
                    {%csrf_token%}
                    <input class="input1" list="types" name="types" placeholder=" Danh mục">
                    <datalist id="types">
                        <option value="Hàng hiệu">
                        <option value="Sưu tầm - Nghệ thuật">
                        <option value="Phương tiện xe cộ">
                        <option value="Bất động sản - Quyền sử dụng đất">
                        <option value="Tài sản thanh lý">
                    </datalist>
                    <input class="input2" type="text" id="searched" name="searched" placeholder="Tìm kiếm...">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        <div class="header_item3">
            &nbsp;
            <nav role="navigation" class="primary-navigation">
                <li>
                    <a style="color:white;"><i class="fa-solid fa-bars"></i> Danh mục tài sản</a>
                    <ul class="dropdown">
                        <li><a href="/Search/Hàng hiệu">Hàng hiệu</a></li>
                        <li><a href="/Search/Sưu tầm - Nghệ thuật">Sưu tầm - Nghệ thuật</a></li>
                        <li><a href="/Search/Phương tiện xe cộ">Phương tiện xe cộ</a></li>
                        <li><a href="/Search/Bất động sản - Quyền sử dụng đất">Bất động sản </a></li>
                        <li><a href="/Search/Tài sản thanh lý">Tài sản thanh lý</a></li>
                    </ul>
                </li>
            </nav>
            <form action="/Search/" method="POST">
                {%csrf_token%}
                <input type="hidden" list="types" name="types">
                <input type="hidden" id="searched" name="searched" placeholder="Tìm kiếm...">
                <button class="but1">
                    <a class="a1">Cuộc đấu giá</a></button>
            </form>
            <a class="a1" href="/Information">Tin tức</a>
            <a class="a1" href="/Information">Giới thiệu</a>
            <a class="a1" href="/Lienhe">Liên hệ bán tài sản</a>
            <DIv></DIv>
            <p id="time"></p>
            <p id="current_date"></p>
            <script>
                date = new Date();
                year = date.getFullYear();
                month = date.getMonth() + 1;
                day = date.getDate();
                document.getElementById("current_date").innerHTML = day + "/" + month + "/" + year;

            </script>
        </div>
    </div>
    <div class="item">
        <a href="/Auction">Trang chủ/</a>
        <a href="/Auction">Tài khoản</a>
        <div style="padding-bottom: 0.5ch;">Quản lý tài khoản</div>
    </div>
    <div class="main1">
        <div class="TuyChon">
            <div style="display: flex; flex-direction: column;align-items: center;">
                <div style="font-size: 24px;padding-top: 1.5ch;">{{user_profile.firstname}} {{user_profile.lastname}}
                </div>
                <div style="padding-bottom:0.5ch;padding-bottom: 1ch;">Tài khoản cá nhân</div>
                <img style="width: 155px;background-color: white; border-radius: 200px;"
                    src="{%static 'image/user1.png'%}" alt="">
                <div style="background-color: white;height:2cm;width:100% ;"></div>
            </div>
            <a><i class="fa-regular fa-bell"></i>&nbsp; Thông báo</a>
            <a><i class="fa-regular fa-circle-user"></i>&nbsp; Thông tin tài
                khoản</a>
            <a><i class="fa-solid fa-bars-staggered"></i>&nbsp; Lịch sử giao dịch
            </a>
            <a><i class="fa-solid fa-house-chimney"></i>&nbsp; Cuộc đấu giá của
                tôi</a>
            <a href="/Logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp; Đăng xuất </a>
        </div>
        <div class="in4 thongbao in4--active ">
            <div class="thongbao1">
                Thông báo
            </div>
            {%for notification in notification_list %}
            <a class="list" href="/Goods/{{notification.goods}}">
                <div><i class="fa-regular fa-bell"></i></div>
                <div>{{notification.type}} sản phẩm </div>
                <div>{{notification.goods}}</div>
                <div>{{notification.price}} VND</div>
                <div>{{notification.time}}
                </div>
            </a>
            {%endfor%}
        </div>
        <div class="in4 info ">
            <div class="thongbao1">
                Thông tin tài khoản
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <label style="grid-column: 1/2;">Họ và tên:</label>
                <input style="grid-column: 2/5;" type="text" name="firstname"
                    value="{{user_profile.firstname}} {{user_profile.lastname}}" readonly>
                <label style="grid-column: 1/2;">Địa chỉ email:</label>
                <input style="grid-column: 2/7;" type="email" name="email" value="{{user.email}}" readonly>
                <label style="grid-column: 1/2;">Số điện thoại(di động):</label>
                <input style="grid-column: 2/7;" type="text" name="phonenumber" value="{{user_profile.phonenumber}}"
                    readonly>
                <label style="grid-column: 1/2;">Ngày sinh:</label>
                <input style="grid-column: 2/7;" value="{{user_profile.dateofbirth}}" readonly>
                <label style="grid-column: 1/2;">Địa chỉ:</label>
                <input style="grid-column: 2/4;" name="tinh" value="{{user_profile.tinh}}" readonly>
                <input style="grid-column: 4/6;" name="huyen" value="{{user_profile.huyen}}" readonly>
                <input style="grid-column: 6/7;" name="xa" value="{{user_profile.xa}}" readonly>
                <input style="grid-column: 2/7;" type="text" name="diachi" value="{{user_profile.diachi}}" readonly>
                <label style="grid-column: 1/2;">Giới tính:</label>
                <input style="grid-column: 2/4;" type="text" name="diachi" value="{{user_profile.gender}}" readonly>


            </form>
        </div>
        <div class="in4 history ">
            <div class="thongbao1">
                Lịch sử giao dịch
            </div>
            <a class="list0">
                <div>Tên người dùng </div>
                <div>Giá tiền</div>
                <div>ID sản phẩm</div>
                <div>Thời gian trả giá </div>
            </a>
            {%for history in history_list %}
            <a class="list1" href="/Goods/{{history.goods}}">
                <div>{{history.user}} </div>
                <div>{{history.price}} VND</div>
                <div>{{history.goods}}</div>
                <div>{{history.datetime}}
                </div>
            </a>
            {%endfor%}
        </div>
        <div class="in4 myauction ">
            <div class="thongbao1">
                Các cuộc dấu giá
            </div>
            <a class="list0">
                <div>Tên người dùng </div>
                <div>Giá khởi điểm</div>
                <div>ID sản phẩm </div>
                <div>Ngày đấu giá</div>
            </a>
            {%for goods in goods_list %}
            <a class="list1" href="/Goods/{{goods.id}}">
                <div>{{goods.user}} </div>
                <div>{{goods.price}} VND</div>
                <div>{{goods.id}}</div>
                <div>{{goods.startingdate}}</div>
            </a>
            {%endfor%}
        </div>
    </div>
    <script>
        const thongbao = document.querySelectorAll(".in4.thongbao")
        const history = document.querySelectorAll(".in4.history")
        const info = document.querySelectorAll(".in4.info")
        const myauction = document.querySelectorAll(".in4.myauction")
        const tuychon = document.querySelector(".TuyChon").children
        tuychon[1].addEventListener('click', () => {
            thongbao.forEach((item) => item.classList.add("in4--active"))
            info.forEach((item) => item.classList.remove("in4--active"))
            history.forEach((item) => item.classList.remove("in4--active"))
            myauction.forEach((item) => item.classList.remove("in4--active"))
        })
        tuychon[2].addEventListener('click', () => {
            thongbao.forEach((item) => item.classList.remove("in4--active"))
            info.forEach((item) => item.classList.add("in4--active"))
            history.forEach((item) => item.classList.remove("in4--active"))
            myauction.forEach((item) => item.classList.remove("in4--active"))

        })
        tuychon[3].addEventListener('click', () => {
            thongbao.forEach((item) => item.classList.remove("in4--active"))
            info.forEach((item) => item.classList.remove("in4--active"))
            history.forEach((item) => item.classList.add("in4--active"))
            myauction.forEach((item) => item.classList.remove("in4--active"))

        })
        tuychon[4].addEventListener('click', () => {
            thongbao.forEach((item) => item.classList.remove("in4--active"))
            info.forEach((item) => item.classList.remove("in4--active"))
            history.forEach((item) => item.classList.remove("in4--active"))
            myauction.forEach((item) => item.classList.add("in4--active"))
        })
    </script>
    <style>

    </style>
</body>

</html>